{
    "root": true,
    "rules": {
        "no-console": 0,
        "strict": 0,
        "no-unused-vars": "warn",
        "linebreak-style": [2, "unix"],
        "no-empty": [
            "warn",
            {
                "allowEmptyCatch": true
            }
        ],
        "react/prop-types": 0,
        "react/display-name": 0,
        "react/jsx-no-bind": "warn",
        "react/no-render-return-value": 0
    },
    "env": {
        "amd": true,
        "es6": true,
        "commonjs": true,
        "browser": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["react"],
    "parser": "babel-eslint",
    "settings": {"react": {"version": "detect"}}
}
